@model MSELSEP.Models.ReqTrainingModel


@{
    ViewData["Title"] = "CustomizeTraining";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Training & Certifications</title>
    <script>
        function updateTextInput(val) {
            document.getElementById('textInput').value = val;
        }
    </script>
</head>
<body>


    <div class="row" style="background-color: black; color:darkgrey; padding-top: 35px; text-align: inherit; padding-left: 20px; padding-right: 20px; padding-bottom:20px;">

        <div style=" padding-top: 35px; padding-bottom:35px; padding-right:50px;">
            <img src="~/images/learningpath_graphic.svg"><font style="font-size:34px;">Training & Certifications</font>
        </div>


        <div class="col-md-4">


            <p><h4>Foundational</h4></p>

            <strong style="color:white">Microsoft Learn </strong>
            <ul>
                <li>Self-paced, online</li>
                <li>Prerequisite: None</li>
                <li>Available on <a href="https://docs.microsoft.com/en-us/learn/azure/" style="color:green">Microsoft Learn</a></li>
                <li>Cost: Free</li>
            </ul>


            <strong style="color:white">Pluralsight Learning Paths </strong>
            <ul>
                <li>Self-paced, online</li>
                <li>Prerequisite: None</li>
                <li>Video based learning</li>
            </ul>

        </div>

        <div class="col-md-4">
            <p><h4>Advanced Role-based</h4></p>

            <strong style="color:white">Certifications</strong>
            <ul>
                <li>Azure Cloud Administrator</li>
                <li>Azure Solutions Architect</li>
                <li>Azure Solutions Developer</li>
                <li>Azure DevOps Expert</li>
                <li>Azure AI Engineer</li>
                <li>Azure Data Engineer</li>
                <li>Azure IoT Engineer</li>
                <li>Azure Security Engineer..more</li>

            </ul>

            <strong style="color:white">Instructor-Led Trainings </strong>
            <ul>
                <li>Traditional classroom trainings taught by Microsoft Certified trainers (MCT) and composed of Microsoft Official Courses (MOC)</li>
                <li>20 Titles Available</li>
                <li>In-Person or online Instructor Led</li>
                <li>Trainings are 3-5 Days</li>
                <li>Delivered by our Learning Partners</li>
                <li>Prerequisite: T1, Azure Fundamental</li>
                <li>$Cost: Funded by ECIF</li>
                <li>Prerequisite: Varies per exam</li>
                <li>Available on <a href="http://aka.ms/AzureCertification" style="color:green">Azure Certifications</a></li>
                <li>Exam Vouchar is provided by Microsoft</li>

            </ul>

        </div>

        <div class="col-md-4">
            <p><h4>Advanced Workload-based</h4></p>
            <p>
                Deep dive into Azure workloads with topic-based workshops and Hackathons.
                Scenario-Based Workshops on Azure Cloud and hands-on-lab experience. Large-scale coding
                engagement focused on the development and knowledge transfer of strategic tech skills.
            </p>
            <p><strong style="color:white">Workshops</strong></p>
            <ul>
                <li>Delivered by Microsoft CSA or GBB</li>
                <li>27 Available Workload focused topics available</li>
                <li>Prerequisite: Azure Experience in relevant topic, T1-Fundamental</li>
                <li><a href="http://aka.ms/mscloudworkshop" style="color:green">Workshop Details</a></li>
                <li>Cost: Free if utilizing internal CSA/GBB</li>
            </ul>


            <p><strong style="color:white">Hackathons</strong></p>
            <ul>
                <li><a href="https://aka.ms/CSEOpenHackRegister" style="color:green">OpenHack details</a></li>
                <li>Duration: 2-3 days</li>
                <li>Delivered by Microsoft CSE</li>
                <li>Prerequisite: Prequalified by CSE</li>
                <li>Cost: Free</li>
            </ul>


        </div>

    </div>


    <div class="row" style="background-color: black; color:darkgrey; padding-top: 35px; text-align: inherit; padding-left: 20px; padding-right: 20px; padding-bottom:35px; border-color:darkgrey; border-style:dotted;">
        <h1>Request Microsoft Training</h1>











        @using (Html.BeginForm("ReqTrain", "Home", FormMethod.Post))
        {
           
            @*<form asp-action="ReqTrain" asp-controller="Home">*@
    <div class="col-md-6">



        <p>
            <strong>Deloitte Teams</strong><br>
            @*<textarea rows="4" cols="50" placeholder="How will the learning and development support the business goals?"></textarea>*@
            @Html.TextBoxFor(s => s.CustomerTeams)
        </p>

        <p>
            <strong>Country and City</strong><br>
            @Html.TextBoxFor(s => s.CustomerCounrty)
            @*<textarea rows="4" cols="50" placeholder="What are the skills required to meet the business goals."></textarea>*@
        </p>

        <p>
            <strong>Number of Trainees:</strong><br>
            @Html.TextBoxFor(s => s.NumberOfTrainne)
            @*<input type="range" name="rangeInput" min="0" max="100" onchange="updateTextInput(this.value);">
            <input type="text" id="textInput" value="">*@
        </p>

        <p>
            <strong>Courses:</strong><br>
            @Html.TextBoxFor(s => s.Course)
            @*<input type="range" name="rangeInput" min="0" max="100" onchange="updateTextInput(this.value);">
            <input type="text" id="textInput" value="">*@
        </p>
        <p>
            <fieldset>
                <legend style="color: darkgray;">Select Training Courses</legend>
                <div>
                    <input type="checkbox" id="AZ100" name="interest" value="AZ100">
                    <label for="AZ100">Azure Administrator, AZ 100</label>
                </div>
                <div>
                    <input type="checkbox" id="AZ203" name="interest" value="AZ203">
                    <label for="AZ203">Developing Solutions for Microsoft Azure, AZ-203</label>
                </div>
                <div>
                    <input type="checkbox" id="AZ301" name="interest" value="AZ301">
                    <label for="AZ301">Azure Architect Technologies, AZ 301</label>
                </div>
                <div>
                    <input type="checkbox" id="AZ400" name="interest" value="AZ400">
                    <label for="AZ400">Azure DevOps Engineer Expert,  AZ 400</label>
                </div>
            </fieldset>


        </p>

    </div>

            <div class="col-md-6">
                <p>
                    Your Deloitte Email:<br>
                    @Html.TextBoxFor(s => s.CustomerEmail)
                    @*<input type="text" name="deloitteEmail" placeholder="example@deloitte.com">*@
                </p>
                <p>
                    Your Microsoft Contact:<br>
                    @Html.TextBoxFor(s => s.MSFTEmail)
                    @*<input type="text" name="msftEmail" placeholder="example@microsoft.com">*@
                </p>
                <p>
                    Deloitte Customer Code:<br>
                    @Html.TextBoxFor(s => s.CustomerCode)
                    @*<input type="text" name="csCode" placeholder="641727">*@
                </p>
                <input type="submit" value="Submit" />


            </div>
            @*</form>*@
        }
    </div>



</body>
</html>